<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/component/product.mjs" type="module"></script>
    <script src="/javascripts/component/websocket/cooking.mjs" type="module"></script>
    <script src="/javascripts/component/websocket/payment.mjs" type="module"></script>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
